
html
{
    font-family: Calibri, Candara, Segoe, Optima, Arial, sans-serif;
}

body
{
    background-color: #dcdcdc;
    margin-bottom: 15px;
}

div.item
{
    padding: 8px;
    margin: 8px;
    font-size: 1.5em;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

h1
{
    text-align: center;
    color: #000080;
}

h2
{
    background-color: #000080;
    color: #dcdcdc;
    text-align: center;
    padding: 6px;
}

form
{
    text-align: center;
}

input
{
    color: #000080;
    border: 1px solid grey;
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
    margin: 10px;
    margin-top: 15px;
    width: 70%;
}
